@import url(https://fonts.googleapis.com/css?family=Oswald);

.nav_bar {
    background-color: rgba(0,0,0, .3);
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}
#hook {
    background-color: rgba(0,0,0, .3);
    min-height: 450px;
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(images/wood\ table\ and\ lights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_box1 {
    width: 3em;
    margin: 25px;
    font-size: 25px;
    font-family: Oswald;
    color: white;


}
.nav_box2 {
     width: 3em;
     margin: 25px;
     font-size: 25px;
     font-family: Oswald;
     color: white;
     
  
 }
 .nav_box3 {
     width: 3em;
     margin: 10px;
     font-size: 25px;
     font-family: Oswald;
     color: white;
  
 }
 .hook_beginning {
    
    min-height: 30px;
    flex: 1;
    font-size: 45px;
    color: white;
    margin: 25px
 }
 .hook_questions {
     
     min-height: 30px;
     flex: 4;
     font-size: 35px;
     line-height: 1.5;
 }
 .hook_qs {
    margin: 10px;
    color: #1E90FF;

 }
 .hook_qw {
    margin: 10px;
    color: white;

 }
 a {
     color: inherit;
 }
 